<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-Orders</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container mt-5">
        <h4>Your last <%-pageData.o.length%> Orders:</h4>
        <div class="accordion myshadow" id="orders">

        <% pageData.o.forEach(function(order){ %>
   
            <div class="card">
               
                <div class="card-header" id="order<%-order.id%>">
                    <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target="#collapse<%-order.id%>"
                        aria-expanded="false" aria-controls="collapse<%-order.id%>">
                        <h4>ORDER #<%=order.id%></h4>
                    </button>
                    <div class="row">
                        <div class="col-sm-auto px-1"><small class="text-muted">Invoice Total: <strong>&#8377;<%=  (order.products.reduce((acc,ele) => acc+(ele.offerprice*ele.quantity),0)) %></strong></small></div>
                        <div class="col-sm-auto px-1"><small class="text-muted">Tax: <strong>&#8377;<%=  ((order.products.reduce((acc,ele) => acc+(ele.offerprice*ele.quantity),0)) *((order.tax)/100)) %> @<%=order.tax %>%</strong></small></div>
                        <div class="col-sm-auto px-1"><small class="text-muted">Dated: <strong><%=new Date(order.date).toDateString()%></strong></small></div>
                        <div class="col-sm-auto px-1"><small class="text-muted">Status: <strong><%=order.status%></strong></small></div>
                        <div class="col-auto"></div>
                    </div>
                </div>
              
                <div id="collapse<%-order.id%>" class="collapse" aria-labelledby="order<%-order.id%>" data-parent="#orders">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <span class="text-muted">Billed To:</span>
                                <ul class="ml-auto list-inline p-2">
                                    <li class="list-inline-item"><small><b>
                                                <%=order.shippingDetails.billing.bSalutation +' '+ order.shippingDetails.billing.bFirstName +' '+ order.shippingDetails.billing.bLastName %></b>
                                            (
                                            <%=order.shippingDetails.billing.bMobile%>)</small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.billing.bAdd1%></small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.billing.bAdd2%></small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.billing.bAdd3%></small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.billing.bCity+': '+order.shippingDetails.billing.bPincode%></small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.billing.bState%></small></li>
                                    <li class="list-inline-item">GSTIN:<small>
                                            <%=order.shippingDetails.billing.bGstin%></small></li>
                                </ul>
                            </div>
                            <div class="col-md">
                                <span class="text-muted">Deliver To:</span>
                                <ul class="ml-auto list-inline p-2">
                                    <li class="list-inline-item"><small><b>
                                                <%=order.shippingDetails.shipping.sSalutation +' '+ order.shippingDetails.shipping.sFirstName +' '+ order.shippingDetails.shipping.sLastName %></b>
                                            (
                                            <%=order.shippingDetails.shipping.sMobile%>)</small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.shipping.sAdd1%></small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.shipping.sAdd2%></small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.shipping.sAdd3%></small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.shipping.sCity+': '+order.shippingDetails.shipping.sPincode%></small></li>
                                    <li class="list-inline-item"><small>
                                            <%=order.shippingDetails.shipping.sState%></small></li>
                                    <li class="list-inline-item">GSTIN:<small>
                                            <%=order.shippingDetails.shipping.sGstin%></small></li>
                                </ul>
                            </div>
                        </div>
                        <hr class="bg-primary">
                        <% order.products.forEach(function(product){ %>
                        <% if (product.discontinued===true) { %>
                        <%- 
                `<div class="row m-1">
                    <div class="col-md">
                        <div class="alert alert-danger text-center" role="alert">
                        <h1><i class="fa fa-ban" aria-hidden="true"></i></h1>
                        Product<strong class="text-center">#${product.id}</strong> is no more available or is discontinued.
                            <ul class="list-inline">
                                <li class="list-inline-item">Quantity:<strong>${product.quantity}</strong></li>
                                <li class="list-inline-item">Price:<strong>&#8377;${product.offerprice}</strong></li>
                                <li class="list-inline-item">Total Price:<strong>&#8377;${product.quantity*product.offerprice}</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>`
                %>
                        <% } else{ %>
                        <%- 
                `<div class="row m-1">
                    <div class="col-md  text-center">
                        <h3><img class="productThumbnail" src="../static/resources/images/products/${product.image}" style="max-width:50px;max-height:70px"
                            alt="Product Image"></h3>
                    
                        <strong>${product.name}</strong>
                
                        <ul class="list-inline">
                            <li class="list-inline-item" >Price:<b>&#8377;${product.offerprice}</b></li>
                            <li class="list-inline-item" >Quantity:<b id="s">${product.quantity}</b></li>
                            <li class="list-inline-item" >Discount:<b>&#8377;${(product.price-product.offerprice)*product.quantity}</b></li>
                            <li class="list-inline-item" ><b>Total:&#8377;${product.offerprice * product.quantity}</b></li>
                        </ul>
                    </div>
                </div>
                <hr>`
                %>
                        <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>

  <% }); %>
        </div>
    </div>

    <!-- Footer -->
    <% include ../footer %>
</body>

</html>