<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-Products</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>
    <div class="container mt-5">
        <div class="card myshadow">
            <ul class="nav nav-pills bg-light" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-item nav-link active" id="exisiting-tab" data-toggle="tab" href="#exisiting" role="tab"
                        aria-controls="exisiting" aria-selected="true">Exisiting Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new"
                        aria-selected="false">New Product</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="exisiting" role="tabpanel" aria-labelledby="exisiting-tab">
                    <div class="card-body">
                        <!-- RESULTS -->
                        <div id="resultContainer" class="d-flex justify-content-center justify-content-md-around flex-wrap"></div>
                        <div id="loadingSpinner" class="my-2">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span id="loadingMessage">Loading Products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- New Product -->
                <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                    <div class="card-body">
                        <% if (pageData.newProductError.length>=1) { %>
                        <%- `<div class="alert alert alert-danger" role="alert">${pageData.newProductError[0]}</div>` %>
                        <% } %>
                        <% if (pageData.newProductSuccess.length>=1) { %>
                        <%- `<div class="alert alert alert-success" role="alert">${pageData.newProductSuccess[0]}</div>` %>
                        <% } %>

                        <%- 
                        `<form id="newProductForm" action="/secure/products" method="POST" enctype="multipart/form-data">
                        <input type="hidden" id="pid" name="id" value="${(pageData.productinfo!==undefined && pageData.productinfo.id!==undefined)?pageData.productinfo.id:''}" />
                            <div class="row m-2">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Product Name" minlength="1"
                                    value="${pageData.productinfo!==undefined?pageData.productinfo.name:''}"
                                        maxlength="50" required name="name">
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Category" minlength="1"
                                     value="${pageData.productinfo!==undefined?pageData.productinfo.meta.category:''}"
                                        maxlength="20" required name="cat">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Sub Category" minlength="1"
                                    value="${pageData.productinfo!==undefined?pageData.productinfo.meta.subCategory:''}"
                                        maxlength="20" required name="subCat">
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Product Price" minlength="1"
                                        value="${pageData.productinfo!==undefined?pageData.productinfo.price:''}"
                                        maxlength="20" required name="price">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Offer Price" minlength="1"
                                        value="${pageData.productinfo!==undefined?pageData.productinfo.offerprice:''}"
                                        maxlength="20" required name="offerPrice">
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Ships time in days" minlength="1"
                                        value="${pageData.productinfo!==undefined?pageData.productinfo.meta.shippingdetail:''}"
                                        maxlength="3" required name="shippingDetails">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Product Code" minlength="1"
                                         value="${pageData.productinfo!==undefined?pageData.productinfo.meta.code:''}"
                                        maxlength="20" required name="code">
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Package detail" minlength="1"
                                         value="${pageData.productinfo!==undefined?pageData.productinfo.meta.package_detail:''}"
                                        maxlength="20" required name="packageDetail">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Serving size" minlength="1"
                                       value="${pageData.productinfo!==undefined?pageData.productinfo.meta.serving_size:''}"
                                        maxlength="20" required name="servingSize">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Serving per Container"
                                        value="${pageData.productinfo!==undefined?pageData.productinfo.meta.serving_per_container:''}"
                                        minlength="1" maxlength="100" required name="servingPerContainer">
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Manufacturer Name" minlength="1"
                                        value="${pageData.productinfo!==undefined?pageData.productinfo.meta.mname:''}"
                                        maxlength="20" required name="mName">
                                </div>
                                <div class="col-md">
                                    <input type="url" class="form-control" placeholder="Manufacturer Website" pattern="https://.*" title="Please use https urls only; with protocols"
                                        value="${pageData.productinfo!==undefined?pageData.productinfo.meta.mwebsite:''}"
                                        minlength="1" maxlength="100" required name="mWebsite">
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="desc">Description</label>
                                        <textarea id="desc" style="width:600px" class="form-control"  name="desc">
                                            ${pageData.productinfo!==undefined?pageData.productinfo.description:''}
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="ingredients">Ingredients</label>
                                        <textarea id="ingredients" style="width:600px" class="form-control" name="ingredients" rows="4" cols="50">
                                        ${pageData.productinfo!==undefined?pageData.productinfo.ingredients:''}
                                        </textarea>
                                    </div>
                                     <hr>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                    <h4>F.A.Q's</h4>
                                </div>
                            </div>
                             <div class="row m-2">
                                <div class="col">
                                <div class="card-columns">` %>
                        <% pageData.faqs.forEach(function(faq){ %>
                       <%-`<div class="form-check">
                            <input class="form-check-input" ${pageData.productinfo!==undefined?(pageData.productinfo.faq.indexOf(faq.id)>=0?'checked':''):''} name="faq[]" type="checkbox" value=${faq.id} id="c${faq.id}">
                            <label class="form-check-label" for="c${faq.id}">
                             ${faq.Q}
                            </label>
                        </div>`%>
                        <% }); %>
                           <%- `</div>
                                <hr>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                        <div class="form-group">
                                                <div class="form-group form-check">
                                                        <input name="useDefaultImage" onChange="toggleImageUpload(this)" type="checkbox" class="form-check-input" id="useDefaultImage">
                                                        <label class="form-check-label" for="exampleCheck1">Use default/exisitng image</label>
                                                      </div>
                                            <input id="uploadImage" accept="image/jpeg" type="file" class="form-control-file" id="imageUpload" name="image"
                                                required>
                                        </div>
                                        <input type="hidden" id="imageName" name="imageName" value="${(pageData.productinfo!==undefined && pageData.productinfo.image!==undefined)?pageData.productinfo.image:Date.now()}" />
                                    </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                    <div class="d-flex" >
                                        <button type="submit" id="submitForm" class="btn btn-primary ml-auto mt-auto">Save</button>
                                        ${pageData.productinfo!== undefined && pageData.productinfo.id!== undefined ? '<input name="delete" type="checkbox" class="form-check-input" hidden id="delete">  <button type="button" onClick="onClear()" class="btn btn-secondary ml-2 mt-auto">Cancel</button> <button type="button" onClick="markForDeletion()" class="btn btn-danger ml-2 mt-auto">Delete</button>':''}
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>`
                                               %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include ../footer %>
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script>
        let params = (new URL(document.location)).searchParams;
        if (params.has('tab')) {
            if (params.get('tab').toLowerCase() === 'new') $("#new-tab").click();
        }
        if ($("#pid").val() !== undefined && $("#pid").val() !== "") {
            $("#new-tab").text("Product Id: " + $("#pid").val());
            $('#delete').prop('checked', false);
        }

        function toggleImageUpload(e) {
            if (e.checked === true) {
                $("#uploadImage").prop("disabled", true);
                $("#uploadImage").hide();
            }
            else {
                $("#uploadImage").show();
                $("#uploadImage").prop("disabled", false);
            }
        }

        function markForDeletion() {
            $("#delete").prop("checked", true);
            $('#newProductForm :input').prop('required', false);
            $("#submitForm").click();
        }

        function onClear() {
            window.location.href = '/secure/products?tab=new';
        }

        $(document).ready(function () {
            $("textarea").each(function () {
                CKEDITOR.replace(this, {
                    customConfig: '/static/resources/scripts/editor_config.js'
                });
            });
        });
    </script>
    <script src="../static/resources/scripts/paginatedproducts1.js"></script>

</body>

</html>