<!doctype html>
<html lang="en">

<head>
    <% include ../head %>

    <title>Health Mall-Success</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ../header %>

    <div class="container my-5">
        <div class="myshadow">
            <!-- Header -->
            <div class="d-flex bg-secondary text-white px-3">
                <span class="display-1 text-uppercase">Invoice</span>
                <ul class="ml-auto list-unstyled p-2">
                    <li><small>Health Mall</small></li>
                    <li><small>nutracure@gmail.com</small></li>
                    <li><small>Payment Type:
                            <%=pageData.od.payment.type %></small></li>
                    <li><small>Invoice No:
                            <%=pageData.od.id %></small></li>
                </ul>
            </div>
            <!-- Content -->
            <div class="d-flex p-2">
                <div class="m-3">
                    <span class="text-muted">Billed To:</span>
                    <ul class="ml-auto list-unstyled p-2">
                        <li><small><b>
                                    <%=pageData.od.shippingDetails.billing.bSalutation +' '+ pageData.od.shippingDetails.billing.bFirstName +' '+ pageData.od.shippingDetails.billing.bLastName %></b>
                                (
                                <%=pageData.od.shippingDetails.billing.bMobile%>)</small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.billing.bAdd1%></small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.billing.bAdd2%></small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.billing.bAdd3%></small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.billing.bCity+': '+pageData.od.shippingDetails.billing.bPincode%></small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.billing.bState%></small></li>
                    </ul>
                </div>
                <div class="m-3">
                    <span class="text-muted">Deliver To:</span>
                    <ul class="ml-auto list-unstyled p-2">
                        <li><small><b>
                                    <%=pageData.od.shippingDetails.shipping.sSalutation +' '+ pageData.od.shippingDetails.shipping.sFirstName +' '+ pageData.od.shippingDetails.shipping.sLastName %></b>
                                (
                                <%=pageData.od.shippingDetails.shipping.sMobile%>)</small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.shipping.sAdd1%></small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.shipping.sAdd2%></small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.shipping.sAdd3%></small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.shipping.sCity+': '+pageData.od.shippingDetails.shipping.sPincode%></small></li>
                        <li><small>
                                <%=pageData.od.shippingDetails.shipping.sState%></small></li>
                    </ul>
                </div>
                <div class="m-3 ml-auto">
                    <ul class="ml-auto list-unstyled p-2">
                        <li>
                            <span><span class="text-muted">Dated: </span>
                                <%=new Date(pageData.od.date).toDateString()%></span>
                        </li>
                        <li>
                            <span><span class="text-muted">Status: </span>
                                <%=pageData.od.status%></span>
                        </li>
                    </ul>
                    <h3 class="ml-auto">
                        <small><small class="text-muted">Invoice Total</small></small>
                        &#8377;<%= pageData.od.products.reduce((acc,ele) => acc+(ele.offerprice*ele.quantity),0) %>
                    </h3>
                </div>
            </div>
            <hr class="bg-primary">
            <% pageData.od.products.forEach(function(product){ %>
            <%- 
            `<div class="row m-1">
                <div class="col-md-1">
                    <img class="productThumbnail" src="../static/resources/images/${product.image}" style="max-width:50px;max-height:70px"
                        alt="Product Image">
                </div>
                <div class="col-md-6">
                    <strong>${product.name}</strong>
                </div>
                <div class="col">
                    <ul class="list-inline-item">
                        <li class="list-inline-item" >Price:<b>&#8377;${product.offerprice}</b></li>
                        <li class="list-inline-item" >Quantity:<b id="s">${product.quantity}</b></li>
                        <li class="list-inline-item" >Discount:<b>&#8377;${(product.price-product.offerprice)*product.quantity}</b></li>
                        <li class="list-inline-item" ><b>Total:&#8377;${product.offerprice * product.quantity}</b></li>
                    </ul>
                </div>
            </div>
            <hr>`
            %>
            <% }); %>
        </div>
    </div>
    <!-- Footer -->
    <% include ../footer %>
</body>

</html>