<!doctype html>
<html lang="en">

<head>
    <% include ./head %>

    <title>Health Mall-Shopping Cart</title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ./header %>

    <!-- Content -->
    <div class="container p-3">

        <div class="accordion" id="accordionExample">

            <!-- Shopping Cart -->
            <div class="card">
                <div class="card-header bg-success" id="headingOne">
                    <h5 class="mb-0">
                        <button id="btnCollapseOne" class="btn btn-link text-white" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4>1.Shopping Cart</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                        <% pageData.scp.forEach(function(product){ %>
                        <%- 

                        `<div class="row m-1">
                            <div class="col-md-1">
                                <img class="productThumbnail" src="../static/resources/images/products/${product.image}" style="max-width:50px;max-height:70px"
                                    alt="Product Image">
                            </div>
                            <div class="col-md-6">
                                <strong>${product.name}</strong>
                            </div>
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li>Price:<b>&#8377;${product.offerprice}</b></li>
                                    <li>Quantity:<b id="s">${product.quantity}</b></li>
                                    <li>Discount:<b>&#8377;${(product.price-product.offerprice)*product.quantity}</b></li>
                                    <li><b>Total:&#8377;${product.offerprice * product.quantity}</b></li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group my-3">
                                    <form method="POST" action="/cart/items" id="add" >
                                        <input type="hidden" name="operator" value="add" />
                                        <input type="hidden" name="productId" value="${product.id}" />
                                        <button type="submit" class="btn btn-success"><i class="fas fa-plus-square"></i></button>
                                    </form>
                                    <form method="POST" action="/cart/items" id="rem" >
                                        <input type="hidden" name="operator" value="rem" />
                                        <input type="hidden" name="productId" value="${product.id}" />
                                        <button type="submit" class="btn btn-success"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                    <form method="POST" action="/cart/items" id="sub">
                                        <input type="hidden" name="operator" value="sub" />
                                        <input type="hidden" name="productId" value="${product.id}" />
                                        <button type="submit" class="btn btn-success"><i class="fas fa-minus-square"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>`

                        %>
                        <% }); %>

                        <!-- Final Footer -->
                        <div class="d-flex flex-row-reverse">
                            <form id="cartForm" method="POST" action="/cart" class="form-inline">
                                <input type="hidden" name="state" value="1" />
                                <small class="mx-2 my-auto text-danger">Order once placed cannot be
                                    cancelled or altered</small>
                                <h3 class="mx-1 my-1"><small class="text-mute">Total</small> &#8377;
                                    <%= pageData.scp.reduce((acc,ele) => acc+(ele.offerprice*ele.quantity),0) %>
                                </h3>
                                <button type="submit" class="btn btn-primary" <%=pageData.cartItems <=0?'disabled':'' %>>Place
                                    Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shipping Details -->
            <div class="card">
                <div class="card-header bg-success" id="headingTwo">
                    <h5 class="mb-0">
                        <button id="btnCollapseTwo" class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4>2.Shipping Details</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <%
                        function setBillingInputValue(session, propertyName) {
                            return session !== undefined ? session.shippingDetails.billing[propertyName] : '';
                        }
                        function setShippingInputValue(session, propertyName) {
                            return session !== undefined ? session.shippingDetails.shipping[propertyName] : '';
                        } 
                        %>
                        <%-
                        `<form method="POST" action="/cart">
                            <!-- First Name -->
                            <div class="row m-1">
                                <div class="col">
                                    <div class="form-group mb-0">
                                        <h4>Billing Address</h4>
                                        <div class="input-group">
                                            <input id="bSelectSalShadow" type="hidden" value="${setBillingInputValue(pageData.si,'bSalutation')}" >
                                            <select id="bSelectSal" name="bSalutation" class="input-group-prepend custom-select col-3"
                                                required>
                                                <option class="input-group-text" selected>Mr.</option>
                                                <option>Miss.</option>
                                                <option>Dr.</option>
                                                <option>Prof.</option>
                                            </select>
                                            <input type="text" name="bFirstName" class="form-control" id="registerFirstName" minlength="1"  maxlength="50"
                                                placeholder="First Name" value="${setBillingInputValue(pageData.si,'bFirstName')}" required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Last Name -->
                            <div class="row m-1">
                                <div class="col">
                                    <input type="text" name="bLastName" class="form-control" placeholder="Last name"
                                    value="${setBillingInputValue(pageData.si,'bLastName')}"
                                       minlength="1"  maxlength="50" required>
                                </div>
                            </div>
                            <!-- Add 1 -->
                            <div class="row m-1">
                                <div class="col">
                                    <input type="text" name="bAdd1" class="form-control" placeholder="Address 1"
                                    value="${setBillingInputValue(pageData.si,'bAdd1')}"
                                       minlength="1"  maxlength="50" required>
                                </div>
                            </div>
                            <!-- Add 2 -->
                            <div class="row m-1">
                                <div class="col">
                                    <input type="text" name="bAdd2" class="form-control" placeholder="Address 2"
                                    value="${setBillingInputValue(pageData.si,'bAdd2')}"
                                      minlength="1"  maxlength="50"  required>
                                </div>
                            </div>
                            <!-- Add 3 -->
                            <div class="row m-1">
                                <div class="col">
                                    <input type="text" name="bAdd3" class="form-control" placeholder="Address 3"
                                    value="${setBillingInputValue(pageData.si,'bAdd3')}"
                                       minlength="1"  maxlength="50" required>
                                </div>
                            </div>
                            <!-- City -->
                            <div class="row m-1">
                                <div class="col">
                                    <input type="text" name="bCity" class="form-control" placeholder="City"
                                    value="${setBillingInputValue(pageData.si,'bCity')}" minlength="1"  maxlength="50" required>

                                </div>
                            </div>
                            <!-- Pincode -->
                            <div class="row m-1">
                                <div class="col">
                                    <input type="tel" name="bPincode" class="form-control" placeholder="Pincode"
                                    value="${setBillingInputValue(pageData.si,'bPincode')}"
                                        pattern="[0-9]{6}" title="Input a valid Indian pincode." required>
                                </div>
                            </div>
                            <!-- State -->
                            <div class="row m-1">
                                <input id="bSelectStateShadow" type="hidden" value="${setBillingInputValue(pageData.si,'bState')}" > 
                                <div class="col">
                                    <select  id="bSelectState" name="bState" class="input-group-prepend custom-select"
                                        required>
                                        <option>Andaman &amp; Nicobar</option>
                                        <option>Andhra Pradesh</option>
                                        <option>Arunachal Pradesh</option>
                                        <option>Assam</option>
                                        <option>Bihar</option>
                                        <option>Chandigarh</option>
                                        <option>Chhattisgarh</option>
                                        <option>Dadra &amp; Nagar Haveli</option>
                                        <option>Daman &amp; Diu</option>
                                        <option>Goa</option>
                                        <option>Gujarat</option>
                                        <option>Haryana</option>
                                        <option>Himachal Pradesh</option>
                                        <option>Jammu &amp; Kashmir</option>
                                        <option>Jharkhand</option>
                                        <option>Karnataka</option>
                                        <option>Kerala</option>
                                        <option>Lakshadweep</option>
                                        <option>Madhya Pradesh</option>
                                        <option selected>Maharashtra</option>
                                        <option>Manipur</option>
                                        <option>Meghalaya</option>
                                        <option>Mizoram</option>
                                        <option>Nagaland</option>
                                        <option>New Delhi</option>
                                        <option>Orissa</option>
                                        <option>Puducherry</option>
                                        <option>Punjab</option>
                                        <option>Rajasthan</option>
                                        <option>Sikkim</option>
                                        <option>Tamil Nadu</option>
                                        <option>Telangana</option>
                                        <option>Tripura</option>
                                        <option>Uttar Pradesh</option>
                                        <option>Uttarakhand</option>
                                        <option>West Bengal</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Mobile -->
                            <div class="row m-1">
                                <div class="col">
                                    <input type="tel" name="bMobile" class="form-control" placeholder="Mobile" pattern="[0-9]{10}"
                                    value="${setBillingInputValue(pageData.si,'bMobile')}"    
                                    title="Input a valid mobile number." required>
                                </div>
                            </div>

                            <hr class="my-4">

                            <!-- Shipping Address -->
                            <div class="row m-1">
                                <div class="col">
                                    <div class="form-group mb-0">
                                        <div class="d-flex">
                                            <h4>Shipping Address</h4>
                                            <div class="form-check ml-3 my-auto">
                                                <input class="form-check-input" onchange="this.checked?$('.collapseOnDuplicate').hide():$('.collapseOnDuplicate').show();$('.collapseOnDuplicate :input').prop('required',!this.checked);"
                                                    name="chkSameAsBilling" type="checkbox" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Same as Billing
                                                </label>
                                            </div>
                                        </div>

                                        <div class="input-group collapseOnDuplicate">
                                            <input id="sSelectSalShadow" type="hidden" value="${setShippingInputValue(pageData.si,'sSalutation')}" > 
                                            <select id="sSelectSal" name="sSalutation" class="input-group-prepend custom-select col-3"
                                                required>
                                                <option class="input-group-text" selected>Mr.</option>
                                                <option>Miss.</option>
                                                <option>Dr.</option>
                                                <option>Prof.</option>
                                            </select>
                                            <input type="text" name="sFirstName" class="form-control" id="registerFirstName" minlength="1"  maxlength="50"
                                            value="${setShippingInputValue(pageData.si,'sFirstName')}" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Ship Last Name -->
                            <div class="row m-1 collapseOnDuplicate">
                                <div class="col">
                                    <input type="text" name="sLastName" class="form-control" placeholder="Last name"
                                    value="${setShippingInputValue(pageData.si,'sLastName')}" minlength="1"  maxlength="50" required>
                                </div>
                            </div>
                            <!--Ship Add 1 -->
                            <div class="row m-1 collapseOnDuplicate">
                                <div class="col">
                                    <input type="text" name="sAdd1" class="form-control" placeholder="Address 1"
                                    value="${setShippingInputValue(pageData.si,'sAdd1')}" minlength="1"  maxlength="50" required>
                                </div>
                            </div>
                            <!--Ship Add 2 -->
                            <div class="row m-1 collapseOnDuplicate">
                                <div class="col">
                                    <input type="text" name="sAdd2" class="form-control" placeholder="Address 2"
                                    value="${setShippingInputValue(pageData.si,'sAdd2')}" minlength="1"  maxlength="50" sAdd1 required>
                                </div>
                            </div>
                            <!--Ship Add 3 -->
                            <div class="row m-1 collapseOnDuplicate">
                                <div class="col">
                                    <input type="text" name="sAdd3" class="form-control" placeholder="Address 3"
                                    value="${setShippingInputValue(pageData.si,'sAdd3')}" minlength="1"  maxlength="50" required>
                                </div>
                            </div>
                            <!--Ship City -->
                            <div class="row m-1 collapseOnDuplicate">
                                <div class="col">
                                    <input type="text" name="sCity" class="form-control" placeholder="City"
                                    value="${setShippingInputValue(pageData.si,'sCity')}" minlength="1"  maxlength="50" required>
                                </div>
                            </div>
                            <!--Ship Pincode -->
                            <div class="row m-1 collapseOnDuplicate">
                                <div class="col">
                                    <input type="tel" name="sPincode" class="form-control" placeholder="Pincode"
                                        pattern="[0-9]{6}" title="Input a valid Indian pincode."
                                        value="${setShippingInputValue(pageData.si,'sPincode')}" required>
                                </div>
                            </div>
                            <!--Ship State -->
                            <div class="row m-1 collapseOnDuplicate">
                                <div class="col">
                                    <input id="sSelectStateShadow" type="hidden" value="${setShippingInputValue(pageData.si,'sState')}" > 
                                    <select id="sSelectState" name="sState" class="input-group-prepend custom-select"
                                        required>
                                        <option>Andaman &amp; Nicobar</option>
                                        <option>Andhra Pradesh</option>
                                        <option>Arunachal Pradesh</option>
                                        <option>Assam</option>
                                        <option>Bihar</option>
                                        <option>Chandigarh</option>
                                        <option>Chhattisgarh</option>
                                        <option>Dadra &amp; Nagar Haveli</option>
                                        <option>Daman &amp; Diu</option>
                                        <option>Goa</option>
                                        <option>Gujarat</option>
                                        <option>Haryana</option>
                                        <option>Himachal Pradesh</option>
                                        <option>Jammu &amp; Kashmir</option>
                                        <option>Jharkhand</option>
                                        <option>Karnataka</option>
                                        <option>Kerala</option>
                                        <option>Lakshadweep</option>
                                        <option>Madhya Pradesh</option>
                                        <option selected>Maharashtra</option>
                                        <option>Manipur</option>
                                        <option>Meghalaya</option>
                                        <option>Mizoram</option>
                                        <option>Nagaland</option>
                                        <option>New Delhi</option>
                                        <option>Orissa</option>
                                        <option>Puducherry</option>
                                        <option>Punjab</option>
                                        <option>Rajasthan</option>
                                        <option>Sikkim</option>
                                        <option>Tamil Nadu</option>
                                        <option>Telangana</option>
                                        <option>Tripura</option>
                                        <option>Uttar Pradesh</option>
                                        <option>Uttarakhand</option>
                                        <option>West Bengal</option>
                                    </select>
                                </div>
                            </div>
                            <!--Ship Mobile -->
                            <div class="row m-1 collapseOnDuplicate">
                                <div class="col">
                                    <input type="tel" name="sMobile" class="form-control" placeholder="Mobile" pattern="[0-9]{10}"
                                    value="${setShippingInputValue(pageData.si,'sMobile')}" title="Input a valid mobile number." required>
                                </div>
                            </div>

                            <!-- Final Footer -->
                            <div class="d-flex flex-row-reverse mt-2">
                                <input type="hidden" name="state" value="2" />
                                <button type="submit" class="btn btn-primary">Proceed to payment</button>
                            </div>
                        </form>`
                        %>
                    </div>
                </div>
            </div>

            <!-- Payments -->
            <div class="card">
                <div class="card-header bg-success" id="headingThree">
                    <h5 class="mb-0">
                        <button id="btnCollapseThree" class="btn btn-link collapsed text-white" type="button"
                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4>3.Payment Details</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="accordion" id="payment">
                            <!-- Cheque/DD -->
                            <div class="card">
                                <div class="card-header bg-transparent" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#payCheque"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Pay via Cheque/DD
                                        </button>
                                    </h5>
                                </div>
                                <div id="payCheque" class="collapse" aria-labelledby="headingOne" data-parent="#payment">
                                    <div id="chequeCancelValidation" class="card-body">
                                        <form method="POST" action="/cart">
                                            <h2>Total:&#8377;
                                                <%= pageData.scp.reduce((acc,ele) => acc+(ele.offerprice*ele.quantity),0) %>
                                            </h2>
                                            <div class="row my-2">
                                                <div class="col-md">
                                                    <input name="chequeChequeNo" type="text" class="form-control"
                                                        pattern="[0-9]{4,10}" title="Please enter a valid cheque number."
                                                        placeholder="Cheque No" required>
                                                </div>
                                                <div class="col-md">
                                                        <%-  `<input name="chequeDate" type="date" class="form-control"
                                                      placeholder="Cheque Date" max="${new Date().toISOString()}" required>` %>
                                                </div>
                                            </div>
                                            <div class="row my-2">
                                                <div class="col-md">
                                                    <input name="chequeBankName" type="text" class="form-control"
                                                        placeholder="Bank Name" minlength="1"  maxlength="50" required>
                                                </div>
                                                <div class="col-md">
                                                    <input name="chequeBankBranch" type="text" class="form-control"
                                                        placeholder="Bank Branch" minlength="1"  maxlength="50" required>
                                                </div>
                                            </div>
                                            <div class="d-flex my-2">
                                                <p>Deposited in Bank:</p>
                                                <select name="chequeDepositedBank" class="custom-select" id="forBankList">
                                                    <option selected>HDFC</option>
                                                    <option>Canara</option>
                                                </select>
                                            </div>
                                            <div class="d-flex my-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="chequeDeclaration" type="checkbox"
                                                        value="" id="chequeConfirm" required>
                                                    <label class="form-check-label" for="chequeConfirm">
                                                        I hereby confirm that said above goods are being purchased for
                                                        my internal or personal purpose and not for re-sale.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="d-flex my-2 flex-row-reverse ">
                                                <input type="hidden" id="chequeCancel" name="cancel" value="false">
                                                <input type="hidden" name="paymentMode" value="cheque">
                                                <input type="hidden" name="state" value="3" />
                                                <input type="hidden" name="amount" value="5000" />
                                                <button onclick='$("#chequeCancel").val(true);$("#chequeCancelValidation :input").prop("required",false);$("#chequeOrder").click()'
                                                    type="button" class="btn btn-dark">Cancel</button>
                                                <button id="chequeOrder" type="submit" class="mr-1 btn btn-primary">Confirm
                                                    Order</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Bank Trasnfer -->
                            <div class="card">
                                <div class="card-header bg-transparent" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#payBank" aria-expanded="false" aria-controls="collapseTwo">
                                            Pay via Bank Transfer
                                        </button>
                                    </h5>
                                </div>
                                <div id="payBank" class="collapse" aria-labelledby="headingTwo" data-parent="#payment">
                                    <div id="bankTransferCancelValidation" class="card-body">
                                        <form method="POST" action="/cart">
                                            <h2>Total:&#8377;
                                                <%= pageData.scp.reduce((acc,ele) => acc+(ele.offerprice*ele.quantity),0) %>
                                            </h2>
                                            <div class="row my-2">
                                                <div class="col-md">
                                                    <input name="bankTransferRefNo" type="text" class="form-control"
                                                        pattern="[0-9A-Za-z]{4,20}" title="Input a valid Bank transfer reference."
                                                        placeholder="Txn Reference No">
                                                </div>
                                                <div class="col-md">
                                                    <input name="bankTransferDate" class="form-control" type="date"
                                                        placeholder="Date">
                                                </div>
                                            </div>
                                            <div class="d-flex my-2">
                                                <div class="form-check">
                                                    <input name="bankTransferDeclaration" class="form-check-input" type="checkbox"
                                                        value="" id="bankTransferDeclaration" required>
                                                    <label class="form-check-label" for="bankTransferDeclaration">
                                                        I hereby confirm that said above goods are being purchased for
                                                        my internal or personal purpose and not for re-sale.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="d-flex my-2 flex-row-reverse ">
                                                <input type="hidden" id="bankTransferCancel" name="cancel" value="false">
                                                <input type="hidden" name="paymentMode" value="bankTransfer">
                                                <input type="hidden" name="state" value="3" />
                                                <input type="hidden" name="amount" value="5000" />
                                                <button onclick='$("#bankTransferCancel").val(true);$("#bankTransferCancelValidation :input").prop("required",false);$("#bankTransferOrder").click()'
                                                    type="button" class="btn btn-dark">Cancel</button>
                                                <button id="bankTransferOrder" type="submit" class="mr-1 btn btn-primary">Confirm
                                                    Order</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- GateWay -->
                            <div class="card">
                                <div class="card-header bg-transparent" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#payGateway" aria-expanded="false" aria-controls="collapseThree">
                                            Pay via Net Banking/Card
                                        </button>
                                    </h5>
                                </div>
                                <div id="payGateway" class="collapse" aria-labelledby="headingThree" data-parent="#payment">
                                    <div id="gatewayCancelValidation" class="card-body">
                                        <form method="POST" action="/cart">
                                            <h2>Total:&#8377;
                                                <%= pageData.scp.reduce((acc,ele) => acc+(ele.offerprice*ele.quantity),0) %>
                                            </h2>
                                            <div class="row my-2">
                                                <div class="col">
                                                    <p>On confirmation you will be redirected to payment gateway, your
                                                        order will be placed only when we receive successful
                                                        confirmation.</p>
                                                </div>
                                            </div>
                                            <div class="d-flex my-2">
                                                <div class="form-check">
                                                    <input name="gatewayDeclaration" class="form-check-input" type="checkbox"
                                                        value="" id="gatewayDeclaration" required>
                                                    <label class="form-check-label" for="gatewayDeclaration">
                                                        I hereby confirm that said above goods are being purchased for
                                                        my internal or personal purpose and not for re-sale.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="d-flex my-2 flex-row-reverse ">
                                                <input type="hidden" id="gatewayCancel" name="cancel" value="false">
                                                <input type="hidden" name="paymentMode" value="gateway">
                                                <input type="hidden" name="state" value="3" />
                                                <input type="hidden" name="amount" value="5000" />
                                                <button onclick='$("#gatewayCancel").val(true);$("#gatewayCancelValidation :input").prop("required",false);$("#gatewayOrder").click()'
                                                    type="button" class="btn btn-dark">Cancel</button>
                                                <button id="gatewayOrder" type="submit" class="mr-1 btn btn-primary">Confirm
                                                    Order</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <input id="state" type="hidden" name="operator" value="<%- pageData.state %>" />
    </div>

    <!-- Footer -->
    <% include ./footer %>
    <script>
        let state = $("#state").val();

        if (state === "1") {
            $('#btnCollapseOne').prop('disabled', false);
            $('#btnCollapseTwo').prop('disabled', false);
            $('#btnCollapseThree').prop('disabled', true);
            $('#btnCollapseTwo').click();
            $('#collapseOne :input').attr('disabled', true);
        }

        else if (state === "2") {
            $('#btnCollapseOne').prop('disabled', false);
            $('#btnCollapseTwo').prop('disabled', false);
            $('#btnCollapseThree').prop('disabled', false);
            $('#btnCollapseThree').click();
            $('#collapseOne :input').attr('disabled', true);
            $('#collapseTwo :input').attr('disabled', true);
        }

        else {
            $('#btnCollapseOne').prop('disabled', false);
            $('#btnCollapseTwo').prop('disabled', true);
            $('#btnCollapseThree').prop('disabled', true);
            $('#btnCollapseOne').click();
        }

        console.log($('bSelectStateShadow').val());
        if ($('#bSelectStateShadow').val() !== undefined & $('#bSelectStateShadow').val() !== "") $('#bSelectState').val($('#bSelectStateShadow').val());
        if ($('#bSelectSalShadow').val() !== undefined & $('#bSelectSalShadow').val() !== "") $('#bSelectSal').val($('#bSelectSalShadow').val());

        if ($('#sSelectStateShadow').val() !== undefined & $('#sSelectStateShadow').val() !== "") $('#sSelectState').val($('#sSelectStateShadow').val());
        if ($('#sSelectSalShadow').val() !== undefined & $('#sSelectSalShadow').val() !== "") $('#sSelectSal').val($('#sSelectSalShadow').val());
    </script>

</body>

</html>