<!doctype html>
<html lang="en">

<head>
    <% include ./head %>

    <title>Health Mall-
        <%= pageData.product.name %>
    </title>
</head>

<body class="bg-light">
    <!-- Main Nav -->
    <% include ./header %>
    <!-- Content   -->
    <div class="container mt-5">

        <div class="card myshadow">
            <div class="card-body">
                <!-- Product Name -->
                <div class="row">
                    <div class="col my-1">
                        <h4 class="card-title">
                            <%= pageData.product.name %>
                        </h4>
                    </div>
                </div>

                <!-- Product Details -->
                <div class="row mx-0">
                    <div class="col-md-auto pl-0"><img class="img-thumbnail" src=<%-'./static/resources/images/products/'+pageData.product.image
                            %> alt="Product Image">
                    </div>
                    <div class="col">
                        <ul>
                            <li>Item # : <b>
                                    <%= pageData.product.id %></b></li>
                            <li>Category : <b>
                                    <span id="category" ><%= pageData.product.meta.category %></span></b></li>
                            <li>Sub-Category : <b>
                                    <span id="subcategory" ><%= pageData.product.meta.subCategory %></span></b></li>
                            <li>Product Code : <b>
                                    <%= pageData.product.meta.code %></b></li>
                            <li>Package Details : <b>
                                    <%= pageData.product.meta.package_detail %></b></li>
                            <li>Serving Size : <b>
                                    <%= pageData.product.meta.serving_size %></b></li>
                            <li>Serving per Container : <b>
                                    <%= pageData.product.meta.serving_per_container %></b></li>
                            <li>Ships in: <b>
                                    <%= pageData.product.meta.shippingdetail %> day(s)</b></li>
                            <li>Visit<a target="blank" href="<%= pageData.product.meta.mwebsite %>">
                                    <%= pageData.product.meta.mname %></a></li>
                        </ul>
                        <div class="d-flex">
                            <button onClick="addProductToSession(<%=pageData.product.id %>,1)" class="btn btn-primary"
                                type="button">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <!-- Expander Tabs -->
                <div class="row my-1">
                    <div class="accordion col" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Description
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <%- pageData.product.description %>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Ingredients
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <%- pageData.product.ingredients %>
                                </div>
                            </div>
                        </div>
                        <% if (pageData.product.faq.length>=1) { %>
                        <%- 
                        `<div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        FAQ's
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                   <ul class="list-unstyled" >`+ 
                                        pageData.product.faq.map(function(faq){ 
                                       return `<li>
                                           <div class="row" >
                                               <div class="col-md">
                                                    <span><i class="fas fa-question"></i> ${faq.Q}</span>
                                               </div>
                                           </div>
                                           <div class="row" >
                                                <div class="col-md pl-5">
                                                    ${faq.A}
                                                </div>
                                            </div>
                                            <div class="row" >
                                                    <div class="col-md">
                                                        <hr>
                                                    </div>
                                                </div>
                                          </li>`
                                          }).join('')
                                          +
                                   `</ul>
                                </div>
                            </div>
                        </div>`
                        %>
                        <% } %>
                    </div>
                </div>

                <!-- Related Products -->
                <div class="row my-1 py-2">
                    <div class="col">
                        <h4>Related Products</h4>
                        <div id="resultContainer" class="d-flex justify-content-center justify-content-md-around flex-wrap"></div>
                        <div id="loadingSpinner" class="my-2">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span id="loadingMessage">Loading Products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ./footer %>
    <script src="../../static/resources/scripts/paginatedtemplates.js"></script>
    <script>
        var shoppingBadge = $('#shoppingCart');

        function addProductToSession(productId, quantity) {
            $.post("/v1/cart/products", { productId: productId, quantity: quantity }).always((responseData) => {
                if (responseData !== undefined && responseData.TotalProducts !== undefined && parseInt(responseData.TotalProducts)) {
                    showSucess("Product added to your shopping cart.")
                    shoppingBadge.text(parseInt(responseData.TotalProducts));
                }
                else {
                    showFailure("Failed to add product to cart.");
                }
            });
        }

        function productTemplate(product) {
            return `<div class="card m-2 myshadow myproductcard">
            <a href="/product?pid=${product.id}" >
            <center>
                <img class="productThumbnail" src="../static/resources/images/products/${product.image}" style="max-width:150px;max-height:170px" alt="Product Image">
            </center>
            </a>
            <div class="card-body bg-light">
           <strong>${product.name}</strong>
                <div class="d-flex justify-content-center align-items-center my-2">
                <h3 class="text-success">
                &#8377;${product.offerprice}
                <small><small class="text-muted"><del>&#8377;${product.price}</del></small></small>
                </h3>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                <small>Ships in ${product.meta.shippingdetail} day(s)</small>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                <button onClick=addProductToSession(${product.id},1) class="btn btn-success my-2 mr-0" type="submit"><i class="fas fa-cart-plus"></i>
                        Add to cart</button>
                </div>
            </div>
        </div>`;
        }

        function setStatus(pageNo, status) {
            if (status === 3) {
                $("#loadingMessage").text("Failed to load page" + pageNo + ", Please refresh the page and try again.");
            }
            if (status === 2) {
                $("#loadingMessage").text("Loading completed");
                $("#loadingSpinner").hide();
            }
            if (status === 1 || status === 0) {
                $("#loadingMessage").text("Loading more products from page " + pageNo);
            }
        }

        hookUpPagination("/v1/home/products?&c=" + encodeURIComponent($("#category").text().trim())+"&sc=" + encodeURIComponent($("#subcategory").text().trim()), productTemplate, "resultContainer", setStatus, "loadingSpinner", 0, 10);

    </script>
</body>

</html>